.layout-hero {  
  .heading-hero {
    position: relative;
  }

  .hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
    background-position: center;
    background-size: cover;

    opacity: 0.4;
  }

  a.header-anchor {
    display: none;
  }

}