.layout-hero {  
  .heading-hero {
    position: relative;
  }

  .hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    
    background-position: center;
    background-size: cover;

    opacity: 0.4;
  }

  a.header-anchor {
    display: none;
  }

  .navbar {
    background-color: $black-ter;
    box-shadow: 0 10px 16px rgba($black, 0.13), 0 6px 6px rgba($black, 0.19);
  }


  @media (min-width: 719px) {
    .navbar {
      background-color: transparent;
      box-shadow: none;
    }
  }

}