.icon.outbound {
  height: 1rem;
  width: 1rem;
}

.card-image > .svg-inline--fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $primary;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
}